@import "tailwindcss";

/* Scrollbar Track */
selector::-webkit-scrollbar {
  width: 8px; /* width of vertical scrollbar */
  height: 8px; /* height of horizontal scrollbar */
}

/* Scrollbar Track Background */
selector::-webkit-scrollbar-track {
  background: #111111; /* track color */
  border-radius: 8px;
}

/* Scrollbar Thumb */
selector::-webkit-scrollbar-thumb {
  background-color: #FF5722; /* thumb color */
  border-radius: 8px;
  border: 2px solid #111111; /* creates padding around thumb */
}

/* Scrollbar Thumb on hover */
selector::-webkit-scrollbar-thumb:hover {
  background-color: #E64A19;
}

.notice-scroll {
  overflow-y: auto;
  max-height: 200px;
}

.notice-scroll::-webkit-scrollbar { width: 8px; }
.notice-scroll::-webkit-scrollbar-track { background: #111111; }
.notice-scroll::-webkit-scrollbar-thumb { background-color: #FF5722; border-radius: 8px; }
.notice-scroll::-webkit-scrollbar-thumb:hover { background-color: #E64A19; }


.marquee {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 18s linear infinite;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
